<!--
  Generated template for the PaisesDetallePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Detalle</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="paises" class="bar bar-header bar-calm">
      <ion-segment-button value="Geografia">
        Geografia
      </ion-segment-button>
      <ion-segment-button value="Otros">
        Otros
      </ion-segment-button>
    </ion-segment>

  </ion-toolbar>
  <div [ngSwitch]="paises">
    <ion-list *ngSwitchCase="'Geografia'">
      <ion-item>
        <h2>
          Poblacion : {{pais.population}}
        </h2>
      </ion-item>
      <ion-item>
        <h2>Region : {{pais.region}}
        </h2>
      </ion-item>
      <ion-item>
        <h2>SubRegion : {{pais.subregion}}</h2>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'Otros'">
      <ion-item>
        <h2>Dominio : {{pais.topLevelDomain}}</h2>
      </ion-item>
      <ion-item>
        <h2>Codigo Numerico : {{pais.numericCode}}</h2>
      </ion-item>
      <ion-item *ngFor="let mon of pais.currencies ">
        <h2 >Moneda : {{mon.name}}</h2>
      </ion-item>
      <ion-item>
        <h2>Codigo de Llamada : {{pais.callingCodes}}</h2>
      </ion-item>
      <ion-item   >
        <h2>Lenguas:</h2>  <h2 *ngFor="let len of pais.languages "> {{len.name}} </h2>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
